.speech{
    color: black;
    font-style: serif;
    font-size: 20px;
}
.direction{
    color: #454545;
    background-color: #00828b;
    font-style:oblique;
    font-size: 40px;
}
.direction:hover{
    background-color: lightgoldenrodyellow;
    color: orange;
}
.SHE{
    font-style: italic;
    background-color: #ec90ee;
}
.HE{
    font-style: Times;
    background-color:  #90e8ee
    ;
}
.table{
    border: 2px solid rgb(87, 89, 205);
    height: 30px;
    vertical-align: bottom;
    padding: 15px;
    border-bottom: 6px solid rgb(205, 79, 184);
}
.th{
    height: 50px;
    text-align: center;
    border-top: 6px solid rgb(151, 61, 95);
    border-bottom: 2px solid rgb(82, 151, 61);
    border-left: 3px solid rgb(151, 148, 61);
    border-right: 3px solid rgb(151, 61, 82);
}
.td{
    border: 2px solid rgb(92, 150, 177);
    height:30px;
    vertical-align: bottom;
    padding: 15px;
    border-bottom: 2px solid rgb(177,92,134);
}
tr:nth-child(even){
    background-color: rgb(188, 121, 202);
}
tr:nth-child(odd){
    background-color: rgb(215, 250, 248);
}
.SHE:hover{
    width:100px;
    height:50px;
    box-shadow: 10px 10px 5px #90EE90;
    font-size: 15px;
    padding:3px;
}
.HE:hover{
    width:100px;
    height:50px;
    box-shadow: 10px 10px 5px #ca0ba1;
    font-size: 15px;
    padding: 3px;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: aqua;
}
ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
}
li{
    float:left;
}