.speech{
    color: black;
    font-style: serif;
    font-size: 20px;
}
.direction{
    color: #454545;
    background-color: #00828b;
    font-style:oblique;
    font-size: 40px;
}
.direction:hover{
    background-color: lightgoldenrodyellow;
    color: orange;
}
.SHE{
    font-style: italic;
    background-color: #FFCCCB;
}
.HE{
    font-style: Times;
    background-color: #90EE90;
}